name: validate
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  run-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 20.x, 22.x]
    name: Node ${{ matrix.node }} test
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
      - name: Install Node.js packages
        run: yarn install --frozen-lockfile
      - name: Lint and test
        run: yarn test:ci
      - name: Build example
        if: ${{ success() }}
        run: yarn build && yarn example
